<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Question</title>
</head>
<body>

  <h1>Insert your question:</h1>

  <form method="POST" action="/polls/">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send">
    <button type="reset"> <a href="{% url 'polls:index' %}">Cancel</a></button>
  </form>
  


</body>
</html>